<!DOCTYPE html>
<html>
 
<head>
    <title>Hummingbird</title>
</head>
 
<body>
    <img src="/logo.png" alt="" id="logo">
    <h1>Thank You!</h1>
    <p>We've added your email address to the signup queue.</p>
    <h2>There are <%=user.sequence-1%> people ahead of you</h2>
    <p>This reservation is held for <%=user.email%></p>
</body>
 
</html>