<!DOCTYPE html>
<html>

<head>
    <title>Hummingbird</title>
</head>

<body>
    <img src="logo.png" alt="">
    <h1>Hummingbird</h1>
    <p>The world's first $0 commission app. <br>Stop paying $10 for every trade.</p>
    <form action="/register" method="POST">
        <input type="email" name="email" placeholder="Enter Email Address">
        <button>Get Early Access</button>
    </form>
</body>

</html>